<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="public/css/style.css">
  <script src="src/js/index.js"></script>
  <title>AngularJS</title>
</head>

  <body ng-app ng-init="name='ivan'">

    <h1 ng-click="name='petya'">Hello Plunker!</h1>

    <div ng-show="name === 'ivan'"> hi Ivan!!! </div>

    <input ng-model="name" ng-uppercase />

    <p ng-make_short>qwqeweq...</p>

    <ul ng-repeat="letter in name"></ul>

  </body>

</html>